<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= task.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= task.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= task.author %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Assigned:</strong>
    <%= task.assigned %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expired:</strong>
    <%= task.expired %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Priority:</strong>
    <%= task.priority %>
  </p>

</div>
